h3 {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 40px;
  text-shadow: 0 0 3px grey;
  
  
}

.container {
  align: center;
  padding-top: 2vw;
  padding-bottom: 15vw
 
}

form {
  width: 300px;
  background: linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(130,130,145,1) 0%, rgba(52,130,247,1) 0%, rgba(52,130,247,1) 16%, rgba(245,232,231,1) 100%);
  padding: 50px;
  align: center;
  border-radius: 20px;
  align: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#display {
  margin-bottom: 25px;  
  border-radius: 8px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 50px;
  font-weight: bold;
   
  
}

#line1 {
  text-align: center;
 
}

#line2 {
  text-align: center;
}

#line3 {
  text-align: center;
}

#line4 {
  text-align: center;
}

td {
  padding-bottom: 10px;
  width: 50px;
  
  
}

.press {
  padding: 10.5px;
  border-radius: 5px;
  background: #e6e6e6;
  font-size: 13px
}
